simpleArgs: &simple-args
  tokenId: 1

test:
  name: erc721
  description: >-
    To benchmark minting and transferring tokens of an ERC721 contract.
  workers:
    number: 1
  rounds:
    - label: Mint(Original)
      description: >-
        Mint ERC721 Tokens.
      txNumber: 2000
      rateControl:
        type: fixed-rate
        opts:
          tps: 20
      workload:
        module: benchmarks/scenario/ERC-721/mint.js
        arguments:
          << : *simple-args
    - label: Transfer(Original)
      description: >-
        Transfer ERC721 Tokens between accounts.
      txNumber: 2000
      rateControl:
        type: fixed-rate
        opts:
          tps: 20
      workload:
        module: benchmarks/scenario/ERC-721/transfer.js
        arguments:
          << : *simple-args
